@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.bg-video
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -100;
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    font-family: 'Sonsie One', cursive;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

.slogan
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 4rem;
    color: white;
}

.main
{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
}

.pane
{
    height: 100vh;
    width: 15vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: white;
}

.grad-left
{
    background-image: linear-gradient(to right, green, transparent);
    opacity: 0;
    -webkit-transitison: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.grad-left:hover
{
    opacity: 1;
    -webkit-transitison: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.grad-right
{
    background-image: linear-gradient(to left, cyan, transparent);
    opacity: 0;
    -webkit-transitison: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.grad-right:hover
{
    opacity: 1;
    -webkit-transitison: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.label-left
{
    color: white;
    position: fixed;
    left: 2.5vw;
    top: 45vh;
}

.label-right
{
    color: white;
    position: fixed;
    right: 2.5vw;
    top: 45vh;
}